{% load static %}

<footer class="py-10 bg-blue-500">
    <div class="grid grid-cols-3 gap-5 p-4">
        <div>
            <h4 class="text-xl text-white font-bold">About Early Code Ltd</h4> 
            <div class="mt-1 w-12 h-1 bg-yellow-400"></div>
            <p class="text-slate-200 text-lg max-w-50 text-wrap p-3">Early Code provides cutting-edge internship programs for IT students, connecting talent with opportunity in the tech industry.</p>
            <div class="flex flex-row justify-around items-start gap-3 text-white p-2">
                <a href="http://"><i class="fa-brands fa-xl fa-facebook bg-white/50"></i></a>
                <a href="http://"><i class="fa-brands fa-xl fa-twitter"></i></a>
                <a href="http://"><i class="fa-brands fa-xl fa-instagram"></i></a>
                <a href="http://"><i class="fa-brands fa-xl fa-linkedin"></i></a>
            </div>
        </div>

        <div>
            <h4>Quick Links</h4>
            <ul>
                <li>Home</li>
                <li>About our Internship</li>
                <li>Requirements</li>
                <li>FAQs</li>
                <li>Privacy Policy </li>
                <li>Intern Dashboard</li>
            </ul>
        </div>

        <div>
            <h4> Contact Us</h4>
            <div>
                <div>
                    <b></b>
                    <div>
                        <i></i>
                        <p></p>
                    </div>
                    <div>
                        <i></i>
                        <span></span>
                    </div>
                </div>
                <div>
                    <b></b>
                    <div>
                        <i></i>
                        <p></p>
                    </div>
                    <div>
                        <i></i>
                        <span></span>
                    </div>
                </div>
                <div>
                    <i></i>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</footer>
